body {
    font-family: 'Arial', 'Helvetica', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #333; /* Dark grey for text */
    font-size: 16px; /* Base font size */
    line-height: 1.6; /* Line height for readability */
}

h1, h2, h3 {
    margin: 20px;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    font-family: Arial, Helvetica, sans-serif
}

p {
    margin: 20px;
    margin-top: 0.5em;
    margin-bottom: 1em; /* Spacing around paragraphs */
    font-family: Arial, Helvetica, sans-serif;
}



/* Hover and Focus States for interactive elements like links */
a:hover, a:focus {
    color: #ff6347; /* Tomato color for hover/focus */
    text-decoration: none;
}

.resaltado_verde {
    color: #27ae60; /* Cambiar el color a verde azulado */
}


.imagen-lateral {
    position: fixed;
    bottom: 303px; /* Cambia este valor para ajustar la posición vertical */
    right: 0; /* Colocar la imagen en el lado derecho */
    width: 450px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
}

.imagen-centrada {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 650px;
    height: auto;

}

.imagen-derecha {
    position: fixed;
    right: 0; /* Coloca la imagen en el lado derecho */
    top: 50%; /* La imagen estará centrada verticalmente */
    transform: translateY(-60%); /* Ajusta la posición vertical */
    z-index: 999; /* Asegura que la imagen esté en la parte superior */
    margin: 60px;

}

.fondo-transparente {
    background-image: url('spaghetti.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen */
    opacity: 0.5; /* Cambia este valor para ajustar la opacidad (0.0 = transparente, 1.0 = opaco) *height: 100vh; /* Ajusta la altura del contenedor al 100% del viewport */
    display: flex; /* Utiliza flexbox para centrar verticalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido *//

}

/* Estilos para la barra de navegación */
.barra-superior {
    background-color: #2ecc71; /* Verde claro */
    text-align: center;
    padding: 10px 0; /* Añadir espacio alrededor de los enlaces */
}

/* Estilos para los enlaces */
.barra-superior a {
    color: #fff; /* Texto blanco */
    font-family: 'Montserrat', sans-serif; /* Fuente elegida */
    font-size: 18px; /* Tamaño de fuente */
    text-decoration: none; /* Sin subrayado */
    margin: 0 10px; /* Espacio entre los enlaces */
    padding: 10px 20px; /* Espacio interno del botón */
    border-radius: 20px; /* Bordes redondeados */
    background-color: #27ae60; /* Verde oscuro */
    transition: background-color 0.3s; /* Efecto de transición al pasar el mouse */
}

/* Estilos al pasar el mouse sobre los enlaces */
.barra-superior a:hover {
    background-color: #27ae60;; /* Cambiar el color de fondo al pasar el mouse */
}

@media (min-width: 769px) {
    .barra-superior {
        max-width: 9999px; /* Establecer un ancho máximo para la barra de navegación */
        margin: 0 auto; /* Centrar la barra de navegación */
    }

    .barra-superior a {
        padding: 10px 12px; /* Reducir el espacio interno del botón */
    }
}

.container {
    width: 300px;
    margin: auto;
    text-align: center;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}